img.resize {
  max-width:50%;
  max-height:50%;
  align:center;
}
.main_image{
  margin: auto;
  width: 50%;
}
.search_box
{
    display: block;
    text-align: center;
}
.form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.header{
  display: inline-block;
  float: right
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.head {
  float: right;
}

a {
  display: block;
  padding: 8px;
}
body{
    font-family: arial,sans-serif;
}
.foot {
  float: left;
}
.foot-right{
  float: right;
}
